.panel-details {
  position: absolute;
  bottom: 51px;
  top: 35px;
  left: 0;
  right: 0;
  overflow-y: auto;

  .badge {
    background-color: azure;
    color: black;
    display: inline-block;
    padding: 0.3em 0.4em;
    line-height: 1;
    white-space: nowrap;
    border-radius: 0.25rem;
    margin-right: 0.5em;
    text-transform: lowercase;
  }
}

.panel-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  &--related_documents {
    display: flex;
    flex-wrap: wrap;

    & a {
      width: 30%;
      text-align: center;
      background-color: rgba(216, 216, 216, 0.3);
      padding: 0.5em;
      margin: 5px;
      border-radius: 3px;
      color: white;
    }
  }
}
