@import '../../variables.scss';

.gallery {
  height: calc(100vh - 50px);
  width: $gallery-width;
  background-color: $solidgray;

  .gallery__collection {
    height: calc(100vh - 120px);
    overflow-y: auto;
  }

  .action-compare {
    background-color: $solidgray;
    position: absolute;
    bottom: 0;
    user-select: none; /* Prevent to drag button */

    button {
      background-color: $buttonBlue;
      background-image: none;
      margin: 15px;
      width: 130px;
      color: $white;

      .bp3-icon {
        color: $white;
      }

      &:hover {
        text-decoration: none;
        background-color: #35729f;
        color: #ffffff;
      }

      &.bp3-disabled {
        background-color: rgba(206, 217, 224, 0.5);
        color: #ffffff;
      }
    }
  }
}
